<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>URL - TinyApp Example</title>
</head>

<body>
    <header>
        <%include ./partials/_header%>
    </header>

    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">TinyURL for:
                <%= longURL %>
            </h5>
            <p class="card-text">Short URL:
                <a href="/u/<%= shortURL %>">
                    <%= shortURL %>
                </a>
            </p>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            <form action="/urls/<%=shortURL%>" method="POST">
                <div class="card-body">
                    <h2 class="card-title">Edit</h5>
                        <p class="card-text">
                            New URL: <input type="text" name="updatedLongURL">
                            <button type="submit" class="btn btn-info">Edit</button>
                        </p>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted"></div>
    </div>

    <div class="card-group">
        <div class="card text-center">
            <div style="margin-top: 1rem; height: 100px">
                <img style="padding: 10px" src="https://img.icons8.com/officel/80/000000/mouse-left-click.png">
            </div>
            <div class="card-body">
                <h5 class="card-title">Visits</h5>
                <h4><span class="badge badge-info"><%=visits%></span></h4>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card text-center">
            <div style="margin-top: 1rem">
                <img class="md" src="https://img.icons8.com/plasticine/100/000000/add-user-male.png">
            </div>
            <div class="card-body">
                <h5 class="card-title">Visits</h5>
                <h4><span class="badge badge-info"><%=visits%></span></h4>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1 class="badge badge-info badge-pill">History of visits</h1>
            </div>
            <div class="card-body overflow-auto" style="max-height: 300px">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x